@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flight Search Site</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body style="font-family: 'Cabin', sans-serif">
    <div class="ui">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/bootstrap3-typeahead.min.js"></script>
        <script>
            var input = $(".search-complete");

            input.typeahead({
                source: [
                    { id: "1", name: "England, London, London Heathrow" },
                    { id: "2", name: "United Arab Emirates, Dubai, Dubai International" },
                    { id: "3", name: "Japan, Tokyo, Tokyo International" },
                    { id: "4", name: "United States, Los Angeles, Los Angeles International" },
                    { id: "5", name: "Malaysia, Kuala Lumpur, Kuala Lumpur International" },
                    { id: "6", name: "Spain, Madrid, Madrid Barajas International" },
                    { id: "7", name: "South Africa, Johannesburg, OR Tambo International" },
                    { id: "8", name: "France, Paris, Charles de Gaulle International" },
                    { id: "9", name: "Hong Kong, Hong Kong, Hong Kong International" },
                    { id: "10", name: "Germany, Frankfurt, Frankfurt am Main International" },
                    { id: "11", name: "United States, Miami, Miami International" },
                    { id: "12", name: "China, Beijing, Beijing Capital International" },
                    { id: "13", name: "Turkey, Ataturk, Atatürk International" },
                    { id: "14", name: "Canada, Toronto, Lester B. Pearson International" },
                    { id: "15", name: "Austrailia, Sydney, Sydney Kingsford Smith International" },
                    { id: "16", name: "Italy, Milan, Leonardo Da Vinci (Fiumicino) International" },
                    { id: "17", name: "India, Mumbai, Chhatrapati Shivaji International" }
                ]
            })
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/bootstrap3-typeahead.min.js"></script>
        <script>
            var input = $(".search-complete");

            input.typeahead({
                source: [
                    { id: "1", name: "England, London, London Heathrow" },
                    { id: "2", name: "United Arab Emirates, Dubai, Dubai International" },
                    { id: "3", name: "Japan, Tokyo, Tokyo International" },
                    { id: "4", name: "United States, Los Angeles, Los Angeles International" },
                    { id: "5", name: "Malaysia, Kuala Lumpur, Kuala Lumpur International" },
                    { id: "6", name: "Spain, Madrid, Madrid Barajas International" },
                    { id: "7", name: "South Africa, Johannesburg, OR Tambo International" },
                    { id: "8", name: "France, Paris, Charles de Gaulle International" },
                    { id: "9", name: "Hong Kong, Hong Kong, Hong Kong International" },
                    { id: "10", name: "Germany, Frankfurt, Frankfurt am Main International" },
                    { id: "11", name: "United States, Miami, Miami International" },
                    { id: "12", name: "China, Beijing, Beijing Capital International" },
                    { id: "13", name: "Turkey, Ataturk, Atatürk International" },
                    { id: "14", name: "Canada, Toronto, Lester B. Pearson International" },
                    { id: "15", name: "Austrailia, Sydney, Sydney Kingsford Smith International" },
                    { id: "16", name: "Italy, Milan, Leonardo Da Vinci (Fiumicino) International" },
                    { id: "17", name: "India, Mumbai, Chhatrapati Shivaji International" }
                ]
            })
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
