@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flight Search Site</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/semantic.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link href="~/css/dropdown.css" rel="stylesheet" />
        <link href="~/css/search.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/semantic.min.css"
              asp-fallback-href="~/css/semantic.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link href="~/css/dropdown.css" rel="stylesheet" />
        <link href="~/css/search.min.css" rel="stylesheet" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body style="font-family: 'Cabin', sans-serif">
    <div class="ui menu">
        <div class="header item">
            Flight Search App
        </div>
    </div>
    <br />
    <div class="ui container">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/semantic.min.js"></script>
        <script src="~/js/dropdown.min.js"></script>
        <script src="~/js/search.js"></script>
        <script src="~/js/airport-data.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/semantic.min.js"
                asp-fallback-src="~/js/semantic.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/dropdown.min.js"></script>
        <script src="~/js/search.js"></script>
        <script src="~/js/airport-data.js"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
