@{
    ViewData["Title"] = "Home";
}


<div style="margin-top: 100px">
    <h1 class="ui header" style="text-align: center">Find a flight that suits your needs</h1>
    <br />
    <div class="ui two column divided grid">
        <div class="row">
            <div class="column">
                <div class="ui huge fluid icon input">
                    <input type="text" placeholder="Where are you currently?">
                    <i class="search icon"></i>
                </div>
            </div>
            <div class="column">
                <div class="ui huge fluid icon input">
                    <input type="text" placeholder="Where would you like to go?">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="ui four column divided grid">
        <div class="row">
            <div class="column">
                <div class="ui selection dropdown">
                    <input type="hidden" name="adult">
                    <i class="dropdown icon"></i>
                    <div class="default text">Adult</div>
                    <div class="menu">
                        <div class="item" data-value="1">Male</div>
                        <div class="item" data-value="0">Female</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui selection dropdown">
                    <input type="hidden" name="children">
                    <i class="dropdown icon"></i>
                    <div class="default text">Children</div>
                    <div class="menu">
                        <div class="item" data-value="1">Male</div>
                        <div class="item" data-value="0">Female</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui selection dropdown">
                    <input type="hidden" name="infants">
                    <i class="dropdown icon"></i>
                    <div class="default text">Infants</div>
                    <div class="menu">
                        <div class="item" data-value="1">Male</div>
                        <div class="item" data-value="0">Female</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui selection dropdown">
                    <input type="hidden" name="economy">
                    <i class="dropdown icon"></i>
                    <div class="default text">Economy</div>
                    <div class="menu">
                        <div class="item" data-value="1">Economy</div>
                        <div class="item" data-value="0">Premium Economy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui three column divided grid">
        <div class="row">
            <div class="column"></div>
            <div class="column">
                <button class="fluid ui blue button">Search Flights</button>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>
