@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="margin-top: 100px">
    <h1 class="ui header" style="text-align: center">Search Results</h1>
    <br />
    <div class="ui card">
        <div class="content">
            <div class="header">Flight Details</div>
            <div class="meta">
                <span>details</span>
                <a>details</a>
            </div>
            <p></p>
        </div>
    </div>
</div>